# secrets
ibmcloud_api_key.txt

# macOS
.DS_Store

# terraform
terraform/.terraform/
*.tfstate
*.tfstate.backup
crash.log

# python/venv
.venv/
__pycache__/
*.pyc

# do not track tf provider cache
terraform/.terraform/
# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfvars
*.tfstate
*.tfstate.backup
.crash

# Helm cache
**/.helm/

# Local evidence/artifacts
**/artifacts/
**/screenshots/

# Misc local files
*.docx
*.bak
