# Terraform artifacts
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
tfplan

# Local / sensitive env
.env
.env.*
*.pem
*.key
*.crt
id_rsa*
id_ed25519*
kubeconfig*
kubeconfig-*

# OS / Editor noise
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*~

# Temporary / generated
*.log
*.tmp
*.bak
*~
*#
~$*

# Project artifacts not for Git
artifacts/
screenshots/
*.png
*.jpeg
*.jpg
*.docx

# Port-forward leftovers / debug
nohup.out
*.pid
