export PROJECT_ROOT="/Users/chadlester/Projects/showcase/Project-11-IBMCloud-SRE"
export IBM_REGION="us-south"
export IBM_RG="Default"
export ICR_REGION="us"                 # us.icr.io for us-south
export ICR_REGISTRY="us.icr.io"
export ICR_NAMESPACE="sre-showcase"
export CE_PROJECT="proj11-sre-ce"
export COS_NAME="proj11-cos"
export COS_BUCKET="proj11-sre-bucket"
export LOGDNA_NAME="proj11-logdna"
export SYSDIG_NAME="proj11-sysdig"
export SECRETSMGR_NAME="proj11-secrets"
export TF_BACKEND_BUCKET="proj11-tfstate"
export APP_IMAGE="${ICR_REGISTRY}/${ICR_NAMESPACE}/transaction-api:latest"
export GITHUB_REPO_ROOT="/Users/chadlester/Projects/showcase"
export PROJECT_DIR="/Users/chadlester/Projects/showcase/Project-11-IBMCloud-SRE"
